/data
*.o
up*
M*
S*
*.8
*.mts
*moc*
output*
*.log
log*
udp_relay/
test/test
fec
recorder
record?
emulator
listAddresses/listAddresses
splitter/splitter
setRoute/setRoute
sender/sender
receiver/receiver
incoming*
outgoing*
*.sav
*.7z

